.dashboard {
    background-color: #9dbdb8;
    width: 1480px;
}

.navbar1 {
    position: relative;
    top: 5px;
    left: 0px;
}

.navbar1button {
    background-color: #f0e7d6 ;
    color: black;
}

.navbar2 {
    position: relative;
    top: -40px;
    left: 1340px;
}